<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="fr.isima.kyou.dbaccess.mybatis.dao.BasketMapper">

	<resultMap type="User" id="userResultMap">
		<id property="id" column="id" />
		<result property="firstname" column="firstname" />
		<result property="lastname" column="lastname" />
		<result property="email" column="email" />
	</resultMap>

	<resultMap type="Basket" id="basketResultMap">
		<id property="id" column="id" />
		<result property="basketNumber" column="basketNumber" />
		<association property="userId" column="userId"
			resultMap="userResultMap" />
	</resultMap>


	<select id="selectBasketsOfUser" parameterType="User"
		resultMap="basketResultMap">
		Select * From
		Baskets ba
		join Users u on u.id=ba.userId
		where u.email=#{user.email}
	</select>

	<select id="selectBasketFromId" parameterType="Integer"
		resultMap="basketResultMap">
		SELECT * FROM Baskets WHERE id=#{basketId}
	</select>

	<select id="selectBasketFromIdAndUser"
		resultMap="basketResultMap">
		SELECT * FROM Baskets ba
		JOIN Users u ON u.id = ba.userId
		WHERE u.email = #{email}
		AND ba.basketNumber = #{basketNumber}
	</select>

	<insert id="createBasketFromuser" parameterType="Basket"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO
		Baskets(
		userId,
		basketNumber
		) VALUES (
		#{basket.userId.id},
		#{basket.basketNumber}
		)
	</insert>


</mapper>

