<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="fr.isima.kyou.dbaccess.mybatis.dao.ProductMapper">

	<select id="getProductFromBarCode" parameterType="String" resultType="fr.isima.kyou.beans.dao.Product">
		SELECT * FROM Products where barCode=#{barCode}
	</select>
	
	<insert id="addProduct" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO Products (barCode) VALUES (#{product.barCode})
	</insert>

</mapper>

